.css-var-r0 {
    --ant-cyan: #26ad97;
    --ant-cyan-3: #94d4c3;
    --ant-cyan-7: #178778;

    ::selection {
        background: var(--ant-cyan);
        color: #ffffff;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:active,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover,
    input:-webkit-autofill::first-line {
        box-shadow: 0 0 0 30px var(--ant-color-bg-base) inset !important;
        color: var(--ant-color-text) !important;
        font-family: var(--ant-font-family) !important;
        font-size: 11.5px !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }

    // pagination

    &.ant-pagination {
        --ant-pagination-item-active-bg: var(--ant-cyan);
        --ant-pagination-item-active-color-hover: var(--ant-magenta);
        --ant-pagination-item-active-color: var(--ant-magenta-1);

        .ant-pagination-item {
            border: 0;
        }
    }

    // tree

    &.ant-tree {
        --ant-color-primary-hover: var(--ant-cyan-7);
        --ant-color-primary: var(--ant-cyan);
        --ant-tree-directory-node-selected-bg: var(--ant-cyan);
        --ant-tree-node-hover-bg: transparent;
        --ant-tree-node-active-bg: transparent;
        --ant-tree-node-hover-color: var(--ant-cyan);
        --ant-tree-node-selected-bg: transparent;
        --ant-tree-node-selected-color: var(--ant-font-color);

        .ant-tree-checkbox-checked:after {
            left: 25%;
            top: 44% !important;
            zoom: 0.8;
        }

        .ant-tree-checkbox-indeterminate:after {
            height: 5.5px;
            left: 6px;
            top: 6px;
            width: 5.5px;
            zoom: 1.3;
        }
    }

    &.ant-input-number-css-var {
        --ant-input-number-active-border-color: var(--ant-cyan);
        --ant-input-number-hover-border-color: var(--ant-cyan);
    }

    // select

    &.ant-select-css-var {
        --ant-select-border-color: var(--ant-cyan-3);
        --ant-select-hover-border-color: var(--ant-cyan);
        --ant-select-active-border-color: var(--ant-cyan);
        --ant-select-active-outline-color: var(--ant-cyan);
        --ant-select-option-active-bg: #eeeeee;
        --ant-select-option-selected-bg: transparent;
        --ant-select-option-selected-color: var(--ant-cyan);
        --ant-select-multi-item-background: var(--ant-cyan);

        .ant-select-selection-item {
            color: var(--ant-magenta);
        }

        .ant-select-selection-item-remove {
            color: var(--ant-magenta-1);
            margin: 0 0 0 5px;
        }

        .ant-select-selection-item-remove>* {
            font-size: 13px;
        }
    }

    // divider

    .ant-divider {
        .ant-divider-inner-text {
            font-weight: bold;
            font-size: 15px;
        }
    }

    &.ant-layout-sider {
        --ant-layout-sider-bg: #222222;
    }
}

/* base */

*:not(input[id=nme_login]) {
    text-transform: uppercase;
}

.ant-modal {
    --ant-modal-content-padding: 42px;
}

// ant-layout

.ant-layout {

    *::-webkit-scrollbar {
        height: 9px;
        width: 9px;

        @media (max-width: 960px) {
            width: 0px;
        }
    }

    *::-webkit-scrollbar-thumb {
        background: var(--ant-cyan-6);
        background-clip: padding-box;
        border-radius: 0;

        &:hover {
            background: var(--ant-cyan);
        }
    }

    *::-webkit-scrollbar-track {
        background: var(--ant-cyan-2);
        border-radius: 0;
    }

    .ant-layout-sider {
        *::-webkit-scrollbar {
            width: 7px;

            @media (max-width: 960px) {
                width: 0px;
            }
        }

        *::-webkit-scrollbar-thumb {
            background: var(--ant-blue-1);
            background-clip: padding-box;
            border-radius: 0;

            &:hover {
                background: var(--ant-cyan);
            }
        }

        *::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 0;
        }
    }
}

// ant-table

.ant-table {
    .nowrap {
        white-space: nowrap !important;
    }

    .ant-table-measure-row {
        display: none !important;
    }

    .ant-table-column-sorter {
        zoom: 0.75;
        margin: 0 -8px 0 10px;
    }

    tr.ant-table-row.disabled td.ant-table-cell {
        color: var(--ant-color-text-disabled);
    }

    th.ant-table-cell {
        font-size: 10.5px;
        padding-bottom: 7px !important;
        padding-top: 9px !important;
    }

    td.ant-table-cell {
        .ant-tag {
            width: 100%;
            text-align: center;
        }

        strong {
            font-size: 10.5px;
            font-weight: normal;
            display: block;
            line-height: 1.1;
            color: var(--ant-cyan);
        }
    }

    td.ant-table-cell:has(button) {
        padding: 6px 0 0 0 !important;

        .ant-btn-icon>svg {
            font-size: 22.5px;
        }

        .ant-btn:disabled {
            opacity: 0.5 !important;
        }
    }

    tr:first-child>*:first-child {
        border-bottom-left-radius: var(--ant-border-radius) !important;
    }

    tr:first-child>*:last-child {
        border-bottom-right-radius: var(--ant-border-radius) !important;
    }

    tr.editting td {
        background: #eeeeee !important;
    }
}

// ant-button

.ant-btn {
    font-weight: bold;
    box-shadow: none !important;

    &.ant-btn-default {
        background: var(--ant-color-link);
        color: var(--ant-color-bg-base);

        &:hover,
        &:active {
            background: var(--ant-color-link-hover) !important;
            color: var(--ant-color-bg-base) !important;
        }
    }
}

// ant-form

.ant-form {
    .nolabel .ant-form-item-label {
        display: none !important;
    }

    .ant-form-item-explain {
        margin: 2px 0 10px 0;
        font-size: 12px !important;
    }

    .ant-form-item-explain-error {
        font-size: 10.5px;
    }

    .ant-checkbox-inner:after,
    .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
        zoom: 0.7;
        top: 41% !important;
        left: 25%;
    }

    .ant-upload-wrapper {
        height: 118px !important;
    }

    .ant-input-number-prefix,
    .ant-input-suffix {
        opacity: 0.5;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
}

// ant-menu

.ant-menu {
    .ant-menu-sub {
        padding: 10px 0 !important;
        box-shadow: inset 0 10px 10px -10px #000000aa !important;
    }

    .ant-menu-title-content {
        white-space: break-spaces;
        line-height: 1.4;
    }

    .ant-menu-item {
        min-height: var(--ant-menu-item-height);
        height: auto !important;
    }

    .ant-menu-item-icon {
        color: var(--ant-magenta-8) !important;
    }

    .ant-menu-item-selected {
        .ant-menu-item-icon {
            color: var(--ant-cyan) !important;
        }
    }

    .ant-menu-submenu-selected .ant-menu-submenu-title {
        .ant-menu-item-icon {
            color: var(--ant-cyan) !important;
        }
    }
}

// ant-tag 

.ant-tag.ant-tag-solid {
    background: var(--ant-volcano);
}

// ant-picker

@media (max-width: 767px) {
    .ant-picker-dropdown {
        max-width: 100vw !important;
        left: 0 !important;
        right: 0 !important;
    }

    .ant-picker-panels {
        flex-direction: column !important;
        width: 100vw !important;
    }

    .ant-picker-panel-container {
        width: 100vw !important;
        max-width: 100vw !important;
    }

    .ant-picker-date-panel {
        margin: 0 auto;
        display: block;
    }
}

// ant-date-picker

.ant-picker-content {
    .ant-picker-cell-in-range {
        color: #fff;
    }
}

// ant-typography

h2.ant-typography {
    margin: 0 !important;
    opacity: 0.8;
    padding: 0 !important;
}

h3.ant-typography {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--ant-cyan);
}

h4.ant-typography {
    margin: 0 !important;
    padding: 10px 0 20px 0 !important;
}

// Report

/*

h2 {
    color: var(--ant-cyan);
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 3px 0;
    padding: 0;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#Report {
    h3 {
        color: #222 !important;
        font-size: 16px;
        padding: 40px 0 10px 0;
    }

    th {
        background-color: transparent !important;
        color: #222 !important;
    }

}
*/