* {
    box-shadow: none !important;
    outline: none !important;
}

.css-var-r0 {
    --ant-font-family: 'Readex Pro', sans-serif;
    --ant-border-radius-base: 0 !important;
    --ant-border-radius-sm: 0 !important;
    --ant-border-radius-md: 0 !important;
    --ant-border-radius-lg: 0 !important;

    input:-webkit-autofill,
    input:-webkit-autofill:active,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover,
    input:-webkit-autofill::first-line {
        box-shadow: 0 0 0 0 var(--ant-color-bg-base) inset !important;
        color: var(--ant-color-text) !important;
        font-family: var(--ant-font-family) !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
}